alembic==0.9.8
aniso8601==3.0.0
astroid==1.6.3
Babel==2.8.0
beautifulsoup4==4.6.0
bleach==3.1.1
blinker==1.4
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.4.3
cycler==0.10.0
decorator==4.2.1
docutils==0.14
dominate==2.3.1
Flask==0.12.2
Flask-Admin==1.5.4
Flask-BabelEx==0.9.3
Flask-Bootstrap==3.3.7.1
Flask-Failsafe==0.2
Flask-FlatPages==0.6
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-Migrate==2.1.1
Flask-Moment==0.5.1
flask-mongoengine==0.9.5
Flask-MySQL==1.4.0
Flask-MySQLdb==0.2.0
Flask-PageDown==0.2.2
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
html5lib==1.0.1
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
kiwisolver==1.1.0
lamson==1.3.4
lazy-object-proxy==1.3.1
lockfile==0.12.2
lxml==4.2.1
Mako==1.0.7
Markdown==2.6.11
markdown2==2.3.5
MarkupSafe==1.0
matplotlib==3.1.2
mccabe==0.6.1
mock==2.0.0
mongoengine==0.19.1
mysqlclient==1.3.12
nose==1.3.7
numpy==1.18.0
olefile==0.44
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pandas==0.25.3
parso==0.1.1
pbr==3.1.1
peewee==3.13.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==4.3.0
prettytable==0.7.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pudb==2017.1.4
pyecharts==1.6.1
pygame==1.9.6
Pygments==2.2.0
pylint==1.8.4
pymongo==3.10.0
PyMySQL==0.8.0
pyparsing==2.4.6
pypinyin==0.36.0
python-daemon==2.1.2
python-dateutil==2.6.1
python-editor==1.0.3
python-modargs==1.7
pytz==2018.4
PyYAML==3.12
redis==2.10.6
requests==2.18.4
simplegeneric==0.8.1
simplejson==3.17.0
six==1.11.0
soupsieve==1.9.5
speaklater==1.3
SQLAlchemy==1.2.7
traitlets==4.3.2
urllib3==1.22
urwid==2.0.1
virtualenv==15.1.0
virtualenvwrapper-win==1.2.5
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.1
xlwt==1.3.0
